.timer {
    position: absolute;
    font-size: 25px;
    width: 300px;
    margin-left: 5px;
    align-self: flex-start;
    margin-top: 10px;
    padding-left: 150px;
    height: 50px;
    display: inline-flex;
  }

  .removeItem {
    display: none;
  }